/.buildpath
/.project
/.settings
.idea/workspace.xml
.idea/.name
.idea/vcs.xml
.idea/scopes/scope_settings.xml
.idea/modules.xml
.idea/encodings.xml
.idea/controle-filmes-assistidos.iml
.idea/deployment.xml
src/.env
src/vendor/autoload.php
src/vendor/composer/autoload_classmap.php
src/vendor/composer/autoload_classmap.php
src/vendor/composer/autoload_real.php
src/vendor/composer/autoload_psr4.php
src/vendor/composer/autoload_namespaces.php
src/vendor/services.json
src/vendor/composer/autoload_classmap.php
src/vendor/composer/autoload_files.php
src/vendor/composer/autoload_real.php
src/vendor/composer/include_paths.php
src/vendor/autoload.php
src/vendor/autoload.php
