table.botoes-acao { position: relative; margin-top: 25px; }
table.botoes-acao td { padding-bottom: 3px }
table.botoes-acao .btn { width: 115px }
.btn-warning { color: #000000; background-color: rgba(255, 223, 0, 1); border-color: #eea236; }
.req { color: red }

table.visualizacao td { vertical-align: middle !important; }

img.capa-filme { padding: 1px;margin-right: 10px;width:140px;height:150px;border-radius: 5px;border: 1px solid yellow; }

.panel-main{
	color:#000;
  border-color: #EB8D00 !important;
}

.panel-heading{
	color:#000;
  background-color: #EB8D00 !important;
  border-color: #EB8D00 !important;
}

.btn_filters{
	cursor:pointer;
	color:#C2C2C2;
}

.btn_filters a{
	border-bottom: 1px dotted #000;
	text-decoration: none;
}
body{
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}